name: Build/Push/Deploy API to ECR

on:
  workflow_dispatch:
    inputs:
      lb_addr:
        type: string
        description: address of load balancer for service (no port, need protocol)

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID}}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY}}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and push images
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: thesis
        run: |
            docker build \
              --build-arg UI_URL="${{ github.event.inputs.lb_addr}}" \
              -f infra/docker/api.Dockerfile \
              -t $ECR_REGISTRY/$ECR_REPOSITORY:api .
            docker push $ECR_REGISTRY/$ECR_REPOSITORY:api

      - name: Force ECS deployment
        run: |
          aws ecs update-service --cluster thesis --service thesis --force-new-deployment
